**/node_modules/
*/.teraform
**/teraform.tfstate*
lambda/lambda
./lambda/.terraform
**/*.tar
**/*.zip
main/lambda/lib
ecr/.terraform*
ecs/.terraform*
ec2/.terraform*
lambda/.terraform*
alb/.terraform*
ecr/howtopush.txt
ecr/terraform.tfstate
ecr/terraform.tfstate.backup
ecs/ecs.tf.module
ecs/terraform.tfstate
ecs/terraform.tfstate.backup
ecs/test.tf.example
lambda/terraform.tfstate
lambda/terraform.tfstate.backup
main/.terraform.lock.hcl
main/.terraform
main/terraform.tfstate
main/terraform.tfstate.backup
lambda/url
